<div class="home-container">
    <div class="description-wrapper">
        <div class="site-title">
            <p>Welcome to Fishing Trips! </p>
        </div>
        <div class="site-description">
            <p>Are you an avid angler who loves exploring new fishing spots and reeling in the big ones? Look no
                further!
                Our platform
                is designed with passionate fishermen like you in mind, offering a convenient and organized way to
                document
                and save
                your memorable fishing trips.</p>
            <div class="button register">
                <p>
                    Start your journey with Fishing Trips today and turn your fishing expeditions into unforgettable
                    memories to
                    cherish for a lifetime.</p>
                <a routerLink="/register">Register Now!</a>
            </div>

        </div>
    </div>
    <div class="media-wrapper">
        <img src="https://images.unsplash.com/photo-1480368319110-63b1454a3fa6?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
    </div>
</div>