<div class="profile-container">
    <div class="profile">
        <div class="user-info">
            <div class="user-photo">
                <img id="user-photo" src="{{this.authService.currentUser?.photoURL}}" alt="User Photo">
                <p class="user-username">{{this.authService.currentUser?.displayName}}</p>
            </div>
            <div class="user-details">
                <div>
                    <div class="edit-user">
                        <input #username type="text" id="username" placeholder="Enter new name here">
                        <div class="edit-photo">
                            <label for="upload-image">New profile image</label>
                            <input #photoInput (change)="onFileSelected($event)" type="file" id="upload-image" accept="image/*">
                        </div>
                    </div>
                    <button (click)="onSaveUserProfile(username, photoInput)" id="save">Save</button>
                </div>

            </div>

        </div>
        <div class="trips">
            <h2>Trips</h2>
            <div *ngIf="userTrips.length == 0">
                <p class="first-trip">Create your first trip <a routerLink="/create">here</a></p>
            </div>
            <div *ngIf="userTrips.length > 0">
                <div *ngFor="let trip of userTrips" class="trip">
                    <a [routerLink]="['/trips', trip.id]">
                        <h3>{{trip.destination}}</h3>
                    </a>
                    <p>{{trip.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>