<form #loginForm="ngForm" (ngSubmit)="submitHandler(loginForm)">
    <div class="container">
        <label for="email"><b>Email</b></label>
        <input ngModel type="text" placeholder="Enter Email" name="email" required>

        <label for="password"><b>Password</b></label>
        <input ngModel type="password" placeholder="Enter Password" name="password" required>

        <div class="error" *ngIf="invalidEmailOrPassword">
            Invalid email or password!
        </div>
        <button type="submit">Login</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">No Profile ? <a routerLink="/register">Register Here</a></span>
    </div>
</form>