<div class="header-section">
    <header class="site-header">
        <div class="site-logo">
            <a routerLink="/home"><img src="{{siteLogo}}" alt=""></a>
        </div>
        <div class="site-create">
            <a routerLink="/create">
                <p>SAVE A TRIP</p>
            </a>
        </div>
        <nav class="site-nav">
            <ul>
                <div class="user">
                    <li><a>Trips</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </div>
                <div class="guest">
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                </div>
            </ul>
        </nav>
    </header>
</div>