<div class="header-section">
    <header class="site-header">
        <div class="site-logo">
            <a routerLink="/home"><img src="{{siteLogo}}" alt=""></a>
        </div>
        <div *ngIf="this.authService.currentUser" class="site-create">
            <a routerLink="/create">
                <p>SAVE A TRIP</p>
            </a>
        </div>
        <nav class="site-nav">
            <ul>
                <div *ngIf="this.authService.currentUser" class="user">
                    <li><a (click)="logout()">Logout</a></li>
                </div>
                <div *ngIf="!this.authService.currentUser" class="guest">
                    <li><a routerLink="/trips">Trips</a></li>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="/register">Register</a></li>
                </div>
                <div class="welcome-message" *ngIf="this.authService.currentUser">
                    <p>Welcome {{this.authService.currentUser.displayName}}</p>
                    <div class="profile-image">
                        <a [routerLink]="['/myprofile',this.authService.currentUser.uid]"><img
                                src="{{this.authService.currentUser.photoURL}}" alt=""></a>
                    </div>
                </div>
            </ul>
        </nav>
    </header>
</div>